<h2>商品詳細</h2>
  <table>
    <thead>
      <tr>
        <th>商品名</th>
        <th>商品説明</th>
        <th>価格（税抜）</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to @item.name, edit_admin_item_path(@item) %></td>
        <td><%= @item.introduction %></td>
        <td><%= @item.price %>円</td>
      </tr>
    </tbody>
  </table>
