<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1>ショッピングカート</h1>
      <table border="1" style="border-collapse: collapse">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_item.each do |cart_item| %>
          <tr>
            <td><%= @item: name %></td>
            <td><%= cart_item.item.with_tax_price%></td>
            <td><%= cart_item.subtotal%></td>
            <td><% @total +=  cart_item.subtotal %></td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
